<div class="container">
    <h2>What is Magic?</h2>
    <p>
      Magic is a mysterious force that exists in many worlds and dimensions. It is the power to influence 
    <br> events and outcomes through supernatural means. In this web app, we explore the wonders of magic 
    <br> and the various aspects associated with it. You'll find information on spells, deities, potions, 
    <br> and even have the opportunity to share your own magical experiences.
    </p>
  
    <h2>What to Find in this Web App</h2>
    <ul>
      <li>
        <strong>Spell List:</strong> Browse through a collection of spells, each with its unique purpose and required materials.
      </li>
      <li>
        <strong>Deities:</strong> Learn about powerful deities associated with magic and their values.
      </li>
      <li>
        <strong>Potions:</strong> Discover potions that have various purposes and learn about the materials needed to create them.
      </li>
      <li>
        <strong>Spell Share:</strong> Share your own magical experiences, spells, and insights with the community.
      </li>
    </ul>
  </div>
  